.place-order {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin-top: 100px;
}

.place-order-left {
    width: 100%;
    max-width: 600px;
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.place-order-left .input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    outline-color: tomato;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-left .multi-fields .input {
    width: 50%;
}

.place-order-right {
    width: 100%;
    max-width: 500px;
}

.cart-total {
    padding: 20px;
}

.cart-total h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-total-details p,
.cart-total-details b {
    font-size: 16px;
}

.cart-total button {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cart-total button:hover {
    background-color: #e64a19;
}