.navbar {
    padding: 20px 0px;
    display: flex;
    margin: 0px auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 48px;
    font-weight: bold;
    color: tomato;
    text-transform: lowercase;
}

.logo::after {
    content: ".";
    color: tomato
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;

}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    scroll-behavior: smooth;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;

}

.navbar-profile {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;

}

.nav-profile-dropdown {
    position: absolute;
    top: 65px;
    gap: 3px;

    bottom: 1;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 140px;

}

.nav-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    list-style: none;

}

.nav-profile-dropdown li:hover {
    color: tomato;
    gap: 2px;
    cursor: pointer;
}

.nav-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 0;
    text-decoration: none;
    color: #333;
}

.nav-profile-dropdown img {
    margin-right: 1px;
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }

}